<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

<body>

    <nav class=" navbar navbar-light bg-light justify-content-center">
        {{!-- <a class="navbar-brand ms-5 justify-self-center">AudioZone</a> --}}
        <h4 class="text-primary mt-3">Orders</h4>




    </nav>

    </div>
    </div>

    <div class="row g-4 d-flex text-center justify-content-center mt-4" style="width: 100%;">
        <div class="container " style="width: 60%">
            <div id="demo_info" class="box"></div>
            <div id="dynamic">
                <table id="order-table" class="display table  " style="width:100%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th> Order id</th>
                            <th>Customer Name</th>
                            <th>Amount</th>
                            <th>Ordered date</th>
                            <th>Status</th>
                            <th>Paymentmethod</th>
                            <th>Update Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td> {{inc @index}}</td>
                            <td>{{this.id}}</td>
                            <td>{{this.User.Name}}</td>
                            <td>{{this.TotalPrice}}</td>
                            <td>{{date this.createdAt}}</td>
                            <td>{{this.OrderStatus}}</td>
                            <td>{{this.Paymentmethod}}</td>

                            <td>

                                <button class="btn" onclick="changestat('{{this.id}}')"><i
                                        class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                {{#if (eq this.OrderStatus 'Cancelled')}}
                                {{else}}
                                <button class="btn" onclick="cancelorder('{{this.id}}')"><i class="fa fa-ban"
                                        aria-hidden="true"></i></button>
                                {{/if}}

                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <script>
            function changestat(id) {

                console.log(id)
                $.ajax({
                    url: "/admin/changeOrderStat",
                    data: {
                        id: id,

                        //  Status: x,
                    },

                    method: "POST",
                    success: (response) => {
                        loadPage()
                    },

                })

            }
            function loadPage() {
                $("#dynamic").load(location.href + " #dynamic")
            }
            function cancelorder(id) {
                $.ajax({
                    url: "/admin/cancelorder/" + id,
                    method: "GET",
                    success: (response) => {
                        loadPage()
                    },

                })

            }
        </script>

        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>

        <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#order-table').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'excel', 'pdf'
                    ]
                });
            })
            table.buttons().container()
                .appendTo($('.col-sm-6 :eq(0)', table.table().container()));
        </script>