<body>
    {


    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">


    <link rel="stylesheet" type="text/css"
        href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">


    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
    <div id="demo_info" class="box"></div>
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4 d-flex justify-content-center">
            <div class="col-sm-12 col-xl-6">
                <div class=" h-100 p-4 table-responsive ">

                    <h4 class="mb-4 text-center">User Table</h4>

                    <br><br>
                    <table id="example" class=" display table text-center table-responsive  ">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col"> Name</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each user}}
                            <tr>

                                <th scope="row">{{inc @index}}</th>

                                <td>{{this.Name}}</td>
                                <td>{{this.Mobile}}</td>
                                <td>{{this.email}}</td>

                                {{#if IsActive}}
                                <td>Active</td>
                                <td><button class="btn-outline-dark" onclick="return confirm('Block ?')"><a
                                            href="/admin/blockuser/{{this.id}}"> Block</a></button></td>

                                {{else}}
                                <td>Blocked</td>

                                <td><button class="btn-outline-white " onclick="return confirm('unBlock ?')"><a
                                            href="/admin/unblockuser/{{this.id}}">UnBlock</a></button></td>

                                {{/if}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{!-- <div id="demo_info" class="box"></div>
                    <table id="example" class="table" style="!important background-color:white;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody style="background-colors :#F3F6F9;">
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011-04-25</td>
                                <td>$320,800</td>
                            </tr>
                        </tbody>
                    </table>

                </div> --}}
            </div>
        </div>

        <script>
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
</body>