<div class="container">
    <div class="main-body mt-5">
        <br>
        <div class="ms-5 d-flex justify-content-center">
            <div class=" col-md-8 mt-5 text-center">
                <div class="card mb-3 ">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">User Name</h6>
                            </div>
                            <div id="Name" class="Name col-sm-9 text-secondary">
                                {{user.Name}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{user.Mobile}}
                            </div>
                        </div>
                        <hr>
                        {{!-- <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{date user.updatedAt}}
                            </div>
                        </div> --}}
                        <button type="button" onclick="editevent()">Ediit</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function editevent() {
        $("div.Name").replaceWith("<input value='{{userDetails.Name}}' type = 'text'>");
    }




    $(document).on("click", ".editableTxt", function () {
        var currElmModelAttr = $(this).attr('data-model-attr');
        var $this = $(this);
        var input = $('<input />', {
            'type': 'text',
            'name': currElmModelAttr,
            'style': 'width:100px',
            'class': 'datePicker',
            'value': $(this).text()
        });
        $(this).replaceWith(input);
        input.datepicker({
            onSelect: function (date) {
                $this.text(date);
                input.replaceWith($this);
                console.log(date);
            }
        })

    });
</script>