<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />



<!-- Shoping Cart -->
<div class="bg0 p-t-75 p-b-85" id="cartdiv">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
        {{#if Nostock}}
        <script>
          function showError() {
            swal(Nostock)
          }
          showError()
        </script>
        {{/if}}
        {{#if cartnull}}
        <br> <br>
        <h3 class="text-center">This Cart is Empty</h3>
        <br>
        {{else}}
        <div class="m-l-25 m-r--38 m-lr-0-xl">
          <div class="wrap-table-shopping-cart">
            <table class="table-shopping-cart">
              <tr class="table_head">
                <th class="column-1">Product</th>
                <th class="column-2"></th>
                <th class="column-3">Price</th>
                <th class="column-4">Quantity</th>
                <th class="column-5">Total</th>
              </tr>
              {{#each Products}}
              <tr class="table_row">
                <td class="column-1">
                  <div class="how-itemcart1 ">
                    <img {{!-- src="../public/images/item-cart-04.jpg" --}} src="/products/{{this.Items.Images.[0]}}"
                      alt="IMG" />
                  </div>
                </td>
                <td class="column-2">{{this.Items.Name}}</td>
                <td id="price" class="column-3">{{this.Items.SellingPrice}}</td>

                <td class="column-4">
                  <div class="wrap-num-product flex-w m-l-auto m-r-0">
                    <button id="minus" type="button" onclick="QtyIncrement('{{this.Items.id}}',-1)" value="-1">
                      <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m ">
                        <i class="fs-16 zmdi zmdi-minus"></i>
                      </div>
                    </button>
                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1"
                      value="{{this.Qty}}" disabled id="{{this.Items.id}}" />
                    <button type="button" onclick="QtyIncrement('{{this.Items.id}}',1)">
                      <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">

                        <i class="fs-16 zmdi zmdi-plus"></i>
                    </button>
                    {{!--
                    </form> --}}
                  </div>
          </div>
          </td>
          <td class="column-5">{{mult this.Qty this.Items.SellingPrice}}</td>
          <td class="column-5"><a href="/remove-cartitem/{{this.Items.id}}"><img src="/images/icons/trash-fill.svg"></a>
          </td>
          </tr>
          {{/each}}

          </table>
        </div>

      </div>
    </div>

    <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
      <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
        <h4 class="mtext-109 cl2 p-b-30">Cart Totals</h4>

        <div class="flex-w flex-t bor12 p-b-13">
          <div class="size-208">
            <span class="stext-110 cl2"> Subtotal: </span>
          </div>

          <div class="size-209">

            <span class="mtext-110 cl2"> {{totalprice}} </span>
          </div>
        </div>

        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
          <div class="size-208 w-full-ssm">

            <span class="stext-110 cl2"> Shipping </span>
          </div>
          <div class="size-209 p-t-1">
            <span class="mtext-110 cl2 text-success"> Free</span>
          </div>

        </div>

        <div class="flex-w flex-t p-t-27 p-b-33">
          <div class="size-208">
            <span class="mtext-101 cl2"> Total: </span>
          </div>

          <div class="size-209 p-t-1">
            <span class="mtext-110 cl2"> {{totalprice}}</span>
          </div>
        </div>
        <form action="/checkout" method="post">
          <input hidden name="subtotal" value="{{totalprice}}">
          <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
            Proceed to Checkout
          </button>
        </form>
      </div>

    </div>
    {{/if}}
  </div>
</div>

</div>

{{!-- </form> --}}

<!-- Footer -->


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
  <span class="symbol-btn-back-to-top">
    <i class="zmdi zmdi-chevron-up"></i>
  </span>
</div>

<script>

  function QtyIncrement(id, qty) {
    const Prodid = id;
    console.log(Prodid);
    const val = document.getElementById(id).value
    console.log(val)
    $.ajax({
      url: "/changeQty",
      data: {
        Product: Prodid,
        Qty: qty,
        val: val,
      },

      method: "POST",
      success: (response) => {
      },

    });



    $("#cartdiv").load(location.href + " #cartdiv")

  }

</script>
{{!--
--}}
<script src="/javascripts/script.js"></script>



<!--===============================================================================================-->
<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/bootstrap/js/popper.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/select2/select2.min.js"></script>
<script>
  $(".js-select2").each(function () {
    $(this).select2({
      minimumResultsForSearch: 20, dropdownParent:
        $(this).next(".dropDownSelect2"),
    });
  });
</script>
<!--===============================================================================================-->
<script src="../vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
  $(".js-pscroll").each(function () {
    $(this).css("position", "relative");
    $(this).css("overflow", "hidden"); var ps = new PerfectScrollbar(this, {
      wheelSpeed: 1, scrollingThreshold: 1000, wheelPropagation: false,
    });
    $(window).on("resize", function () { ps.update(); });
  });
</script>
<!--===============================================================================================-->
<script src="../public/javascript/main.js"></script>


</body>

</html>