<div class="container">
    <div class="main-body mt-5">
        <br>
        <form id="address" action="/edit-address" method="post">
            <div class="row col-md-6 ">
                <div class="col-md-6 mb-3">
                    <label for="first_name">First Name
                        <span>*</span></label>
                    <input type="text" class="form-control" id="first_name" value="{{data.FirstName}}" required
                        name="FirstName">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="last_name">Last Name <span>*</span></label>
                    <input type="text" class="form-control" id="last_name" value="{{data.LastName}}" required
                        name="LastName">
                </div>
                <div class="col-12 mb-3">
                    <label for="phone_number">Phone No
                        <span>*</span></label>
                    <input type="tel" class="form-control" id="phone_number" min="0" value="{{data.Phone}}" name="Phone"
                        required>
                </div>
                <div class="col-12 mb-4">
                    <label for="email_address">Email Address
                        <span>*</span></label>
                    <input type="email" class="form-control" id="email_address" value="{{data.Email}}" name="Email"
                        required>
                </div>
                <div class="col-12 mb-3">
                    <label for="company">Company/House Name</label>
                    <input type="text" class="form-control" id="company" value="{{data.House}}" name="House" required>
                </div>

                <div class="col-12 mb-3">
                    <label for="street_address">Address
                        <span>*</span></label>
                    <textarea type="text" class="form-control mb-3" id="street_address" name="Address"
                        required>{{data.Address}}</textarea>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="postcode">Postcode <span>*</span></label>
                    <input type="text" class="form-control" id="postcode" value="{{data.Pincode}}" name="Pincode"
                        required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="city">Town/City <span>*</span></label>
                    <input type="text" class="form-control" id="city" value="{{data.City}}" name="City" required>
                </div>
                <div class="col-12 mb-3">
                    <label for="state">State <span>*</span></label>
                    <input type="text" class="form-control" id="state" value="{{data.State}}" name="State" required>
                </div>
                <input hidden name="id" value="{{data._id}}" <div class="col-12 mb-3 text-center">

                <button class="btn btn-outline-primary my-sm-0 " type="submit">Edit Address</button>
            </div>
    </div>
    </form>
</div>
</div>
<script>
    $(document).ready(function () {
        $("#address").validate({
            rules: {
                FirstName: {
                    required: true,
                    minlength: 5,
                    lettersonly: true
                },
                Email: {
                    required: true,
                    email: true,
                    noCaps: true

                },
                Phone: {
                    required: true,
                    minlength: 10,
                    maxlengh: 10

                },
                House: {
                    required: true,

                },
                Address: {
                    required: true,
                    minlength: 5,
                },
                Pincode: {
                    required: true,
                    minlength: 6,
                    maxlengh: 6
                },
                City: {
                    required: true,
                },
                State: {
                    required: true,
                },

            },

        });
    });
</script>