<div class="container">
    <div class="main-body mt-5">
        <br> <br>
        <h3 class="text-center">Your Orders</h3>
        <div class="row gutters-sm mt-5">



        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td></td>
                    <td></td>
                    <td>{{this.OrderStatus}}</td>
                    <td>{{this.TotalPrice}}</td>
                    <td> <a href="/viewsingleorder/{{this.id}}" class="btn btn-primary">
                            View
                        </a></td>
                    <td>{{date this.createdAt}}</td>

                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
</div>