<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css"
    href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" charset="utf8"
    src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<div class="container">
    <div class="main-body mt-5">
        <br> <br>
        <h3 class="text-center">Your Orders</h3>
        <div class="row gutters-sm mt-5">



        </div>
        <div class="card">
            <div class="card-body d-flex  justify-content-around">
                <div style="width:30%">
                    <p></p>
                </div>
                <div class="" style="width:25%">
                    <table>

                        <tr>
                            <td>Products</td>
                        </tr>

                    </table>
                </div>
                <div style="width:100%;">
                    <ul class="d-flex justify-content-around">
                        <p>OrderStatus</p>
                        <li>
                            TotalPrice</li>
                        <li>Ordered Date</li>
                        <li>View</li>
                        <li>Cancel</li>

                    </ul>
                </div>
            </div>
            <div>

            </div>
        </div>
        {{#each data}}
        <div class="card">
            <div class="card-body d-flex  justify-content-around  align-items-around">
                <div style="width:30%;height:100px;">
                    {{#each this.Products}}
                    <ol>
                        <img src="/products/{{this.Items.Images.[0]}}" style="width:50px;height:50px">
                    </ol>
                    {{/each}}
                </div>
                <div class="" style="width:25%">
                    <table>
                        {{#each this.Products}}
                        <ol>
                            <li> {{this.Items.Name}}</li>
                        </ol>
                        {{/each}}
                    </table>
                </div>
                <div style="width:100%;" class="d-flex justify-content-around align-items-around">
                    {{!-- <ul style="background-color:;" class="d-flex  justify-content-around"> --}}

                        <input type="hidden" name="stat" class="stat class" value="{{this.OrderStatus}}">

                        <div style="width: 20%;">


                            <p id="Status_i" style="" class="OrderStatus text-center text-success">
                                {{this.OrderStatus}}</p>

                        </div>

                        <div class="d-flex justify-content-center" style="width: 20%;">

                            <span style="" class="text-center ms-3">{{this.TotalPrice}}</span>


                        </div>
                        <div class="d-flex justify-content-center" style="width: 20%; ">
                            <li style="">{{date this.createdAt}}</li>
                        </div>
                        <div class="d-flex justify-content-center" style="width: 15%;">
                            <li style=""> <a href="/view-single-order/{{this.id}}" class="">
                                    <i class="fa fa-eye" aria-hidden="true"></i></a></li>
                        </div>
                        {{#if (eq this.OrderStatus 'Cancelled') }}
                        <div class="d-flex justify-content-center" style="width: 15%;">
                            <li style=""> <button onclick="returnorder('{{this.id}}')" class="">
                                </button></li>
                        </div>
                        {{else if (eq this.OrderStatus 'Deliveried') }}
                        <div class="d-flex justify-content-center" style="width: 15%;">
                            <li style=""> <button onclick="returnorder('{{this.id}}')" class=""> <img
                                        src="https://static.thenounproject.com/png/575813-200.png"
                                        style="width: 30px;height: 30px;">
                                </button></li>
                        </div>
                        {{else if (eq this.OrderStatus 'Returned') }}
                        <div class="d-flex justify-content-center" style="width: 15%;">
                            <li style=""> <button onclick="cancelorder('{{this.id}}')" class=""> <i style="color: red;"
                                        class=" fa fa-ban" aria-hidden="true"></i>
                                </button></li>
                        </div>
                </div>
                {{else if (eq this.OrderStatus 'Refunded') }}

                {{else if (eq this.OrderStatus 'Return-Confirmed-') }}


                {{else}}

                <div class="d-flex justify-content-center" style="width: 15%;">
                    <li style=""> <button onclick="cancelorder('{{this.id}}')" class=""> <i style="color: red;"
                                class=" fa fa-ban" aria-hidden="true"></i>
                        </button></li>
                </div>
                {{/if}}


                </ul>
            </div>
        </div>
        <div>

        </div>
    </div>
    {{/each}}
    <section class="d-flex justify-content-center mt-2">

        {{#if hasPreviousPage}}
        <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black" class="text-center"
            href="/myaccount/orders?page={{PreviousPage}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        {{/if}}

        <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black; border: 1px solid black;"
            href="/myaccount/orders?page={{page}}">{{page}}</a>
        {{#if hasNextPage}}
        <a style="text-decoration: none;padding: .5rem; margin:0 1rem; color:black;"
            href="/myaccount/orders?page={{inc page}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        {{/if }}

    </section>
</div>

</div>
</div>
</div>
<script>
    function cancelorder(id) {
        //  return swal.("are you sure")
        swal({
            title: "Are you sure?",
            text: "Once you Cancelled, you will not be able to recover this action!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("This Order is Cancelling.!", {
                        icon: "warning"
                    });
                    location.assign(`/cancel-order/${id}`);
                }
            });

    }
    function returnorder(id) {
        swal({
            title: "Are you sure?",
            text: "Do you Want to return this Order!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    location.assign(`/return-order/${id}`);
                }
            });

    }

</script>

<script>
    $(document).ready(function () {

        console.log(stat)
        if (stat == 'Cancelled') {

            $("p.OrderStatus").addClass("text-danger");
        }
    });
</script>