<link rel="stylesheet" href="/css/orderPage.css">

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-12 mt-5">
            <div class="page-title text-center">
                <h3> Order Details</h3>
            </div>
        </div>


        <table class="table" id="order" style="">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity </th>


                    <th scope="col">Price</th>

                    <th scope="col">total</th>
                    <th><button onclick="print()">invoice</button></th>

                </tr>
            </thead>
            <tbody id="products">
                {{#each orderDetails.Products}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td scope="row"><img src="/products/{{this.Items.Images.[0]}}" style="width:100px;height:80px;">
                    </td>
                    <td>{{this.Items.Name}}</td>
                    <td>{{this.Qty}}</td>
                    <td>{{this.Items.SellingPrice}}</td>



                    <td>{{mult Qty this.Items.SellingPrice}}</td>
                </tr>
                {{/each}}



                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>SubTotal</td>

                    <td>{{orderDetails.SubTotal}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Discount</td>

                    <td id="Discount">{{orderDetails.Discount}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>

                    <td>{{orderDetails.TotalPrice}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Payment Method</td>

                    <td>{{orderDetails.Paymentmethod}}</td>
                </tr>
            </tbody>
            <input type="hidden" name="status" id="stat" value="{{orderDetails.OrderStatus}}">
        </table>


        <div class="container  mt-0 mx-auto">
            <div class="card">

                <!-- Add class 'active' to progress -->
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <ul id="progressbar" class="text-center">
                            <li id="one" class="one step0"></li>
                            <li id="two" class="two step0"></li>
                            <li id="three" class="three step0 "></li>
                            <li id="four" class="four step0  "></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script>
    window.addEventListener('load', function () {

        let stat = document.getElementById("stat").value
        //  let d = $('input[name="stat"]').val();
        //alert(stat)
        console.log(stat)
        if (stat == 'Placed' || stat == 'Shipped' || stat == 'In-transist' || stat == 'Delivered') {
            $("li.one").addClass("active")
            document.getElementById('four').innerHTML = 'Delivered';
            document.getElementById('two').innerHTML = 'Shipped';
            document.getElementById('one').innerHTML = 'Placed';
            document.getElementById('three').innerHTML = 'In-transist'
        }
        if (stat == 'Shipped' || stat == 'In-transist' || stat == 'Delivered') {
            $("li.two").addClass("active")
        }
        if (stat == 'In-transist' || stat == 'Delivered') {
            $("li.three").addClass("active")
        }
        if (stat == 'Delivered') {
            $("li.four").addClass("active")
        }
        if (stat == 'Refunded' || stat == 'Return-Confirmed' || stat == 'Returned') {
            document.getElementById('four').setAttribute("hidden", "hidden")
            $("li.three").addClass("cancelled")
            document.getElementById('three').innerHTML = 'Returned';
            document.getElementById('one').innerHTML = 'Refunded';
            //  document.getElementById('one').innerHTML = 'Cancelled';
            document.getElementById('two').innerHTML = 'Return-Confirmed'

        }
        if (stat == 'Refunded' || stat == 'Return-Confirmed') {
            $("li.two").addClass("cancelled")

        }
        if (stat == 'Refunded') {
            $("li.two").addClass("cancelled")

        }
        if (stat == 'Cancelled') {
            document.getElementById('four').setAttribute("hidden", "hidden")
            $("li.one").addClass("cancelled")
            $("li.two").addClass("cancelled")
            $("li.three").addClass("cancelled")
        }

    })
    function print() {

        var divContents = document.getElementById("order").innerHTML;
        let Productdetails = document.getElementById('products').innerHTML
        var a = window.open('', '', 'height=500, width=500');
        a.document.write('<html>');
        a.document.write('<body > <h1>  <br>');
        a.document.write('<table> ')
        a.document.write()
        a.document.write(divContents);
        a.document.write('</table>')
        a.document.write('</body></html>');
        a.document.close();
        a.print();

    }
</script>