<style>
    /*    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }*/

    .steps {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 200px;
    }

    .step {
        width: 20px;
        height: 20px;
        background: #fff;
        border: 2px solid #ACACA6;
        border-radius: 50%;
        transition: background 1s;
    }

    .step.selected {
        border: 2px solid #4B81BD;
    }

    .step.completed {
        border: 2px solid #4B81BD;
        background: #4B81BD;
    }

    .progress {
        position: absolute;
        width: 100%;
        height: 50%;
        border-bottom: 2px solid #ACACA6;
        z-index: -1;
    }

    .percent {
        position: absolute;
        width: 0;
        height: 100%;
        border-bottom: 2px solid #4B81BD;
        z-index: 1;
        transition: width 1s;
    }
</style>
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-12 mt-5">
            <div class="page-title text-center">
                <h3> Order Details</h3>
            </div>
        </div>


        <table class="table  " style="margin-bottom: 3rem;">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>

                    <th scope="col">total</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {{#each orderDetails.Products}}
                <tr>
                    <th scope="row">{{inc @index}}</th>
                    <td scope="row"><img src="/products/{{this.Items.Images.[0]}}" style="width:100px;height:80px;">
                    </td>
                    <td>{{this.Items.Name}}</td>
                    <td>{{this.Qty}}</td>
                    <td>{{this.Items.SellingPrice}}</td>



                    <td>{{mult Qty this.Items.SellingPrice}}</td>
                </tr>
                {{/each}}



                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>SubTotal</td>

                    <td>{{orderDetails.TotalPrice}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Discount</td>

                    <td>0</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>

                    <td>{{orderDetails.TotalPrice}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Payment Method</td>

                    <td>{{orderDetails.Paymentmethod}}</td>
                </tr>
            </tbody>
        </table>
        {{!-- <div class="m-4">
            <!-- Progress bar HTML -->
            <div class="progress">
                <div class="progress-bar progress-bar" style="min-width: 20px;"></div>

            </div>
            <p id="progress"></p>

            <!-- JavaScript -->
            <script>
                var i = 0;
                var bar = document.querySelector(".progress-bar");
                function makeProgress() {
                    if (i < 30) {
                        i = i + 1;
                        bar.style.width = i + "%";
                        bar.innerText = i + "%";
                    }
                    if (i == 25) {
                        document.getElementById("progress").innerHTML = "kdflssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss"
                    }
                    // Wait for sometime before running this script again
                    setTimeout("makeProgress()", 100);
                }
                makeProgress();
            </script>
        </div> --}}
        <div class="container">
            <div class="progress">
                <div class="percent"></div>
            </div>
            <div class="steps">
                <hr>
                <div class="step" id="0"></div>
                <div class="step" id="1"></div>
                <div class="step" id="2"></div>
                <div class="step" id="3"></div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
<script>
    let els = document.getElementsByClassName('step');
    let steps = [];
    Array.prototype.forEach.call(els, (e) => {
        steps.push(e);
        e.addEventListener('click', (x) => {
            progress(x.target.id);
        });
    });

    function progress(stepNum) {
        let p = stepNum * 30;
        document.getElementsByClassName('percent')[0].style.width = `${p}%`;
        steps.forEach((e) => {
            if (e.id === stepNum) {
                e.classList.add('selected');
                e.classList.remove('completed');
            }
            if (e.id < stepNum) {
                e.classList.add('completed');
            }
            if (e.id > stepNum) {
                e.classList.remove('selected', 'completed');
            }
        });
    }
</script>